.place__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  margin-top: 50px;
  margin-bottom: 32px;
  grid-area: title;
}

.place__title:first-child {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;      
  }
}