.place__image {
  width: calc(100% + 32px);
  height: 100vw;
  margin-left: -16px;
  margin-bottom: 32px;
  grid-area: image;
}

@media screen and (min-width: 768px) {
  .place__image {
    width: calc(50vw - 44px);
    height: calc(50vw - 44px);
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__image {
    width: calc(50vw - 72px);
    height: calc(50vw - 72px);
  }
}

@media screen and (min-width: 1280px) {
  .place__image {
    max-width: 460px;
    max-height: 460px;
  }
}