.place {
  padding-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .place {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    columns: 2;
    column-gap: 28px;
    padding-bottom: 73px;
  }

  .place:last-of-type {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    column-gap: 32px;
    padding-bottom: 80px;
    align-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    column-gap: 40px;
  }
}