.cover {
  margin-top: 66px;
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-top: 92px;
    margin-bottom: 92px;
  }
}